<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1eaa2">  <td>18/08/26 16:47:48</td>   <td>0</td> <td title="&lt;&lt;LearnReport.flush()[pri:0, instance:Week6.day1.TC002_CreateLead@66480dd7]">&lt;&lt;flush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/08/26 16:47:48</td>   <td>-76</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setdata()[pri:0, instance:Week6.day1.TC002_CreateLead@66480dd7]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>18/08/26 16:47:47</td>   <td>-1018</td> <td title="&gt;&gt;LearnReport.startResult()[pri:0, instance:Week6.day1.TC002_CreateLead@66480dd7]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
</table>
