<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>18/08/26 16:51:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMeth.close()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/08/26 16:51:42</td>   <td>31561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMeth.close()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/08/26 16:51:02</td>   <td>-8610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">createLead</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/08/26 16:51:29</td>   <td>18631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">createLead</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/08/26 16:51:43</td>   <td>32219</td> <td title="&lt;&lt;LearnReport.flush()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&lt;&lt;flush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/08/26 16:50:50</td>   <td>-21147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMeth.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/08/26 16:51:12</td>   <td>1038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMeth.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/08/26 16:50:48</td>   <td>-22469</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setdata()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/08/26 16:50:48</td>   <td>-23259</td> <td title="&gt;&gt;LearnReport.startResult()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/08/26 16:50:50</td>   <td>-21157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.startTestCase()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/08/26 16:51:12</td>   <td>1037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.startTestCase()[pri:0, instance:Week6.day1.TC002_CreateLead@5ce81285]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
</table>
